

.contenedor__navbar {
    height: 8vh;
    width: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    text-align: center;
}
.navbar {
    background-color: blue;
    width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    

}


.navegacion__contenedor {
    
    width: 500px;
    margin: auto;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    background-color: brown;
    
}

a {
    text-decoration: none;
    color: black;
}