html{
    box-sizing: border-box;
}
*, *::after{
    box-sizing: inherit;
}

.navegacionprin{
    padding: 25px 0;
    display: flex;
    justify-content: space-around;
}
a {
    text-decoration: none;
    color: #f3f3f3;
}
.enlace {
    text-transform:initial;
    font-weight: bold;
    text-decoration: none;
    color: #f3f3f3;
}

.navbar {
    border-color: #e1e1e1;
    border-top-style: solid;
    border-width: 1px;
    background-color: rgb(24, 24, 24);
    
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto 0 auto;
}