* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.seccion3 {
    text-align: center;
    margin: auto;
}
.container__texto h2 {
    text-align: center;
    padding: 15px;
}

.container__texto p {
    margin: auto;
    width: auto;
    text-align: center;
    padding: 50px;
    font-size: 20px;
}

.container__card {
    align-items: center;
    margin: 15px;
}
.card {
    margin: 50px;
}
.card  img {
    width: auto;
}



@media (min-width: 1115px) {
    .seccion3 {
        text-align: center;
        padding: 30px;

    }
    
    .card {
        max-width: 400px;
        height: 600px;
        margin: 20px;
    }
    
    .card img {
        width: auto;
    }
    
    .container__cards {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .card-body p{
        font-size: 15px;
    }
    
}

