.seccion1 {
    background: #D81B5B;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 95vh;
    padding: 100px 30px 30px 30px;
    box-shadow: 0 5px 10px rgb(14, 14, 14);
    border-radius: 15px;
  }
  .titulo__seccion1 h1 {
    margin-bottom: 15px;
    color: white;
  }
  .titulo__seccion1 h2 {
    color: white;
    margin: 15px;
  }
  
  .contenido__seccion1 {
    background-color: white;
    border-radius: 25px;
    padding: 15px;
    margin: 10px;
  }
  
  .contenido__seccion1 h3 {
    width: 80px;
    margin: 10px;
    font-size: 18px;
  }
  
  .contenido__seccion1 img {
    width: 40px;
    margin: 5px;
  }

  
  @media (min-width: 720px) {
    .container__seccion1 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .seccion1 {
      background-color: #D81B5B;
      display: flex;
      height: 500px;
      width: 100%;
      padding-top: 100px;
      flex-direction: column;
      text-align: center;
      margin: auto;
      box-shadow: 0 5px 10px rgb(14, 14, 14);
      border-radius: 15px;
    }
  
    .titulo__seccion1 {
      margin: auto;
      font-size: 20px;
      color: white;
    }
  
    .titulo__seccion1 h2 {
      margin-top: 30px;
      color: white;
    }
  
    .contenido__seccion1 {
      display: flex;
      background-color: white;
      margin: auto;
      border-radius: 25px;
      padding: 15px;
      align-items: center;
   }
  }